# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Env variables
.env

# VS Code
.vscode/

# Logs
*.log

# Database
backend/closet.db

# Uploaded images
backend/uploads/*
!backend/uploads/.gitkeep